extends layout
//- block header
//-    h2 Yo!!
block content
    //- p hello
    h2 sale ends  #{h.moment().endOf('day').fromNow()}











//- div.wrapper.ohnoooo
    
//-     p.hello hello my dog name is #{dog.toUpperCase()}
  
//-     img.dog(src="dog.jpg" alt=`DOG ${dog}`)

//-     h2
//-         hellooo
//-         em how are u
